Source: dyntftpd
Section: net
Priority: extra
Maintainer: Fabian Knittel <fabian.knittel@avona.com>
Build-Depends: debhelper (>= 7), python-support
Standards-Version: 3.8.4

Package: dyntftpd
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, adduser,
 python-tftpy (>= 0.4.6-1~fsmi2), runit
Conflicts: python-tftpy (>> 0.5.0)
Description: TFTP daemon with support for dynamic generation of content
 This tftp daemon provides hooks to generate content on the fly using
 user-provided Python code or a set of built-in modes.
 .
 Currently the following overlay types are provided:
   * deliver the newest Linux kernel image from a set of images,
   * generate pxelinux configuration files based on per-client settings (i.e.
     user provided Python code) and
   * take static file from regular file system.
